* {
    margin: 0;
    padding:0;
}
main {
    margin: 0 5%;
    /* padding-top: 2.5%; */
}
main h2 {
    margin: 1% 0;
}
.resources-container {
    display: flex;
    flex-wrap: wrap;
}
.resource-container:first-child {
    flex-basis: 100%;
}
.resource-container {
    flex-basis: 25%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 1.5%;
}

.topics-container {
    display: flex;

}
.topics-container > .topic{
    flex-basis: 15%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.topics-container > .topic > img {
    width: 100%;
    max-height: 100px;
    align-self: flex-end;
}
a:focus,a:active{
    box-shadow: 0 0 13px 13px lightseagreen;
}
.hide {
    display: none;
}

.mdimg {
    width: 50%;
    max-height: 100px;
}