* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > header {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    gap: 5%;
    padding: 0 1%
}
body > header > .home-link{
    display: flex;
    align-items: center;
}
body > header > .home-link > #homelink{
    display: inline-block;
    padding: 2%;
    border: 1px solid black;
}
body > header > .page-title{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* flex-basis: 60%; */
}
body > header > .page-title > .titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .5rem;
    background-color: #e8e03f;
}

body > header > .page-title > .page-description{
    /* flex-basis: 60%; */
    font-size: .7rem;
}
body > header > .home-link, 
body > header > .page-logo {
    flex-basis: 20%;
    display: flex;
}
header img {
    max-height: 150px;
    max-width: 150px;
}
main {
    display: flex;
    margin: 0 5%;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    flex-direction: row;
    border: 1px solid orange;
    gap: 1%
}
.canvas-explainer-container{
    width: 50%;
    flex-basis: 50%;
}
canvas{
    width: 100%;
    height: 50vh;
}
canvas:active,canvas:focus{
    box-shadow: 0 0 2px 3px blue;
}
.explainer-container{
    width: 95%;
    justify-self: center;
    padding: 1% 7.5%;
    background-color: rgb(171, 195, 195);

}
.explainer-container > p {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.controls-container{
    display: flex;
    gap: 25%;
    justify-content: center;
    margin: .5% 0 ;
}
.fc>.fi>h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fc>.movement-controls> h3{
    color: lightskyblue !important;
    text-shadow: 2px 2px 9px black;
    font-weight: 900;
}
.fc>.shooting-controls> h3{
    color: #e8e03f !important;
    text-shadow: 2px 2px 9px black;
    font-weight: 900;
}
.fc>.fi>ul {
    list-style: square;
    font-size: 1.3rem;
}
.fc>.fi>ul > li{
    list-style: square;
    font-size: 1.5rem;
}
.scripts-section {
    width: 50%;
}
.scripts-container {
    width: 50vmax;
    flex-basis: 50%;
    border: 1px solid black;
    color: white;
    overflow-x: scroll;
    background-color: black;
}
.script {
    padding: 2.5%;
    padding-top: 0%;
}
.script>.btns-container{
    display: flex;
    justify-content: space-between;
    width: 30%;

}
button{
    font-size: 1.5rem ;
    margin-left: 2.5%;
}
.script > .btns-container > button:active,
.script>.btns-container>button:focus{
    box-shadow: 0 0 3px 3px blue;
}
.moveScript {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 50%;
}

.copy-code {
    font-size: 1.05rem;
    /* overflow: scroll; */
}
.copy-code:active,
.copy-code:focus{
    border: 2px solid yellow;
    box-shadow: 0 0 5px 5px yellow !important;
    padding: 1.5%;
}
.flex {
    display: flex;

}
button:focus{
    font-size: 150%;
    border: 5px solid yellow;
}
button:active{
    font-size: 200%;
    box-shadow: 0 0 12px 12px yellow;
}

.plr1 {
    padding:0 1%;
}
canvas:active,canvas:focus{
    /* box-shadow: 0 0 3px px blue; */
}
.hide {
    display: none;
}

@media screen and (max-width:580px){
    .canvas-explainer-container {
        width: 100%;
        flex-basis: 100%;
    }
    main {
        flex-direction: column;
    }
}