* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>nav#mainLinksContainer {
    display: flex;
}
header>nav#mainLinksContainer>#mainLinks {
    display: flex;
    flex-basis: 80%; 
    
}
#mainLinks>a {
    flex-basis: 40%;
    border: 1px solid black;
    border-top: none;
    display: inline-flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
}
#tutorialLink>img {
    min-width: 150px;
    max-width: 200px;
    min-height: 60px;
    max-height: 50px;
}

header {
    display: flex;
    flex-direction: column;
}
header a:focus,header a:active {
    box-shadow: 0 0 10px 6px rgb(116, 183, 180, 1);
}
header  > h1 {
    font-size: 120%;
}
header > .title-tutorialLink-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}